---

---

<nav
  class="flex justify-between m-auto items-center max-w-7xl bg-slate-300 rounded-full py-1 px-4"
>
  <a href="/">
    <img src="/icons/home.svg" alt="" class="size-8" />
  </a>
  <ul class="flex space-x-4 underline">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/tours">Tours</a>
    </li>
    <li>
      <a href="/destinations">Destinations</a>
    </li>
    <li>
      <a href="/events">Events</a>
    </li>
    <li>
      <a href="/hotels">Hotels</a>
    </li>
    <li>
      <a href="/plan-your-tour">Plan Your Tour</a>
    </li>
    <li>
      <a href="/about-us">About Us</a>
    </li>
    <li>
      <a href="/contact-us">Contact Us</a>
    </li>
  </ul>
</nav>
