---
import Head from "@components/Head.astro"
import "../styles/globals.css"

const defaultTitle = "GoToCeylon Tours"
const defaultDescription = "Explore the enchanting island of Sri Lanka with our curated tours. Our website features handpicked destinations, top-rated hotels, and exciting local events. Start your Sri Lankan adventure today"
---

<!doctype html>
<html lang="en">
	<Head title={defaultTitle} description={defaultDescription} />
	<body>
		<slot />
	</body>
</html>
